<nav class="top-nav">
    <div class="container">
        <div class="desktop nav-wrap"> 
            <a class="nav-link" href="{{ page.url }}/about.html">About</a>
            <a class="nav-link" href="{{ page.url }}/about.html">Portfolio</a>
            <a class="nav-link" href="{{ page.url }}/about.html">Contact</a>
        </div>
        <div class="nav-wrap mobile"> 
            <a href="#" class="toggle-nav"><img src="img/burger.svg"></a>
            <nav class="sub-nav-mobile">
                <a class="nav-link" href="{{ page.url }}/about.html">About</a>
                <a class="nav-link" href="{{ page.url }}/about.html">Portfolio</a>
                <a class="nav-link" href="{{ page.url }}/about.html">Contact</a>
            </nav>
        </div>
    </div>
</nav>
