<!-- index.nunjucks -->
{% extends "default.html" %}
{% block content %}
<div class="vert-wrap">
    <div class="container">
        <div class="columns">
            <div class="column intro-text">
                <span class="tiny-text">Well Hello! My name is</span>
                <h1 class="title">
                    Ben Adams <span>& </span> <br>
                    I'm a Designer
                </h1>
                <h2 class="subtitle">
                    I live in the D.C. area and love
                    building interactive user interfaces that delight their users. 
                    I believe in structure and simplicity in both design and development.
                </h2>

            </div>
            <div class="column">
                <figure class="landing-image"></figure>
            </div>
        </div>
    </div>
</div>
{% endblock %}
